.sp__pie-chart {
    display: flex;

    & .sp__pie-chart__stock {
        border: none;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.2s;

        &.selected {
            opacity: 1;
        }
    }
}

.sp__breakdown {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & .sp__breakdown__stock {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        opacity: 0.6;
        transition: 0.2s;

        background-color: transparent;
        border: none;
        align-items: first;

        &.selected {
            opacity: 1;
        }

        & > div:first-child {
            margin-right: 20px;
        }
    }
}

.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
      red 0% 20%, 
      blue 20% 40%, 
      yellow 40% 50%, 
      green 50% 70%, 
      purple 70% 90%, 
      orange 90% 100%
    );
  }