.carousel__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel__image-body {
    display: flex;
    align-items: center;
}

.carousel__bubbles {
    display: flex;
    margin-top: 5px;
    column-gap: 5px;
}

.carousel__image-body__control {
    margin: 10px;
    font-size: 2rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.carousel__bubbles button {
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;

    background-color: transparent;
    border: 1px solid black;

    cursor: pointer;
}

.carousel__bubbles button.selected {
    background-color: black;
}

.carousel__image-body__viewer {
    width: var(--img-width);
    height:  var(--img-height);

    overflow: hidden;
    display: flex;
}

.carousel__image-body__viewer img {
    flex-shrink: 0;
    width: var(--img-width);
    height:  var(--img-height);

    transition: 0.2s;

    object-fit: contain;
}