.bar {
    height: 20px;
    aspect-ratio: 10 / 1;

    border: 1px solid gray;
    margin-bottom: 10px;
}

.bar-inner {
    width: 100%;
    height: 100%;

    transform: scaleX(0);
    background-color: aqua;
    transform-origin: left;
    transition-duration: 1s;

    &.active { 
        transform: scaleX(1);
    }
}
