.st__wrapper {
    --grid-spacing-y: 22px;
    --grid-spacing-x: 60px;

    margin-top: 20px;
    display: grid;
    grid-template-areas: 
        "yaxis area"
        "spacing xaxis"
    ;
}

.st__body {
    grid-area: area;
    display: grid;
    grid-template-columns: repeat(var(--x-axis), var(--grid-spacing-x));
    grid-template-rows: repeat(var(--y-axis), var(--grid-spacing-y));

    & .st__item {
        height: 10px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        background-color: black;
    }
}

.yaxis {
    grid-area: yaxis;
    display: grid;
    grid-template-rows: repeat(var(--y-axis), var(--grid-spacing-y));

    & .yaxis__label {
        transform: rotateZ(-90deg);
        width: var(--grid-spacing-y);
    }
}

.xaxis {
    grid-area: xaxis;
    display: grid;
    grid-template-columns: repeat(var(--x-axis), var(--grid-spacing-x));
}