.chat__message-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 20px;
}

.chat__message-body {
    padding: 10px;    
    border-radius: 6px;
}

.chat__message-body.left {
    align-self: flex-start;
    background-color: deepskyblue;
    color: white;
}

.chat__message-body.right {
    align-self: flex-end;
    background-color:bisque;
}

.spinner {
    height: 100px;
    width: 2px;
    background-color: red;
    animation: spin 0.3s linear;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

textarea {
    resize: none;
}